thumbs.db
.DS_Store
node_modules
npm-debug.log*
.npm
*.pcx
NAMES.H
Console.log
Reference Art
Music
Environment
Unpaletted
Unused
\!*.txt
stdout.txt
stderr.txt
grpfiles.cache
mapster32.cfg
m32_settings.cfg
mapster32.log
autosave.map
backup.map
backup
concept
docs
fonts
images
misc
music
old
release
screenshots
sounds
sprites
videos
